@tailwind base;
@tailwind components;
@tailwind utilities;

.content-area-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 12px;
    gap: 16px;
}
.content-area-charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}
.content-area-performace {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
@media (max-width: 992px) {
    .content-area-cards {
        grid-template-columns: 100%;
    }
    .content-area-charts {
        grid-template-columns: 100%;
    }
    .content-area-performace {
        grid-template-columns: 100%;
    }
}

@media (max-width: 576px) {
    .content-area-cards {
        grid-template-columns: 100%;
    }
}
